main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

#scoreboard {
  width: 100%;
  height: 320px;

  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

#gameboard {
  width: 100%;
  height: 320px;

  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }
  #gameboard {
    width: 70%;
    height: 400px;
    order: -1;
  }
  #scoreboard {
    width: 30%;
    height: 400px;
  }
}
