.scoreboard__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem 0;
}

.scoreboard__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.scoreboard__record {
  border: 1px solid black;
  border-radius: 4px;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #200144;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .scoreboard__title {
    font-size: 1.2rem;
  }

  .scoreboard__table {
    grid-template-columns: repeat(1, 1fr);
  }

  .scoreboard__record {
    border: 1px solid black;
    border-radius: 2px;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
}
