@import url("getReady.css");
@import url("gameGrid.css");
@import url("layout.css");
@import url("gameBoard.css");
@import url("scoreBoard.css");
@import url("userName.css");
@import url("start.css");
@import url("settings.css");
@import url("userResult.css");

* {
	box-sizing: border-box;
}

body {
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/wallpaper.jpg");
	background-size: cover;
	padding: 0;
	margin: 0;
}
