.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

#input-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 1rem;
  width: 50%;
}

#insert-username {
  display: flex;
  flex-direction: column;
}

#user-submit {
  color: white;
  font-weight: bold;
  font-family: inherit;
  background-color: black;
  border: 1px solid grey;
}
